<div class="container" #board>
  <div class="row d-flex justify-content-center">
    <div class="box dark" (click)="click(1)"><div></div></div>
    <div class="box light" (click)="click(2)"><div></div></div>
    <div class="box dark" (click)="click(3)"><div></div></div>
  </div>
  
  <div class="row d-flex justify-content-center">
    <div class="box light" (click)="click(4)"><div></div></div>
    <div class="box dark" (click)="click(5)"><div></div></div>
    <div class="box light" (click)="click(6)"><div></div></div>
  </div>
  
  <div class="row d-flex justify-content-center">
    <div class="box dark" (click)="click(7)"><div></div></div>
    <div class="box light" (click)="click(8)"><div></div></div>
    <div class="box dark" (click)="click(9)"><div></div></div>
  </div>
</div>
<div *ngIf="won" class="container">
  <p>{{winner}} has won congratulations</p>
  <button class="btn btn-primary" (click)="reset()">Reset</button>
</div>
<div class="line" #line></div>
<ngb-toast
  *ngFor="let toast of toasts;let index as index"
  header="Errors making a turn" [autohide]="true" [delay]="2000"
  (hide)="toasts.splice(index, 1)"
>{{toast}}</ngb-toast>